<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="all" [(ngModel)]="selectedFilterRadioButtonChild" (change)="onSelectedFilterRadioButtonChanged()">
    <span>{{'All('+all+')'}}</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedFilterRadioButtonChild" (change)="onSelectedFilterRadioButtonChanged()">
    <span>{{'In Stock('+inStock+')'}}</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedFilterRadioButtonChild" (change)="onSelectedFilterRadioButtonChanged()">
    <span>{{'Out of Stock('+outOfStock+')'}}</span>
</div>
