<div class="ekart--product--details--info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="ekart-product-detail-image">
        <img [src]="product.imageURL" class="ekart-product-detail-image">
    </div>
    
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{ product.name }}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span SetBackground>{{ product.brand }}</span>
            <span SetBackground>{{ product.gender }}</span>
            <span SetBackground>{{ product.category }}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Pair:</b>
                <span style="background-color: red; color:white" *ngIf="product.discountPrice; else discountPrice"><s>${{ product.price }}</s></span>
                <ng-template #discountPrice>
                    <span style="background-color: red; color:white">${{ product.price }}</span>
                </ng-template>
                <span style="background-color: green; color:white" *ngIf="product.discountPrice">${{ (100 - (product.discountPrice / product.price * 100)).toFixed(0) }} </span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
            <diV style="margin-top: 20px" *ngFor="let size of product.size">
                <div>
                    <span class="ekart-product-detail-available-size">{{ size }}</span>
                </div>
                <!-- <span class="ekart-product-detail-available-size">7</span>
                <span class="ekart-product-detail-available-size">8</span>
                <span class="ekart-product-detail-available-size">9</span> -->
            </diV>                
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <diV style="margin-top: 20px;" *ngFor="let color of product.color">
                <span class="ekart-product-detail-available-color"  [ngStyle]="{backgroundColor: color}">{{ color }}</span>
                <!-- <span class="ekart-product-detail-available-color" style="background-color: green;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: black;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: blue;"></span> -->
            </diV>                
        </div>

        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{product.description}}</p>
            </div>                
        </div>
    </div>
    <div class="ekart-product-detail-addtoCart">
        <button class="btn-add-to-cart" *ngIf="product.is_in_inventory; else notifyMe">ADD TO CART</button>
        <ng-template #notifyMe> <!-- ng-Template example -->
            <button class="btn-add-to-cart">NOTIFY ME</button>
        </ng-template>
    </div>
</div>
<div class="overlay"></div>
