<!-- 
<div style="margin: 20px auto; width: 780px;">
    <div class="app-component">
        <h2>App Component</h2>
        <p>This is <b>app</b> component</p>
        <button>Button</button>
    </div>

    <div class="component-container">
        <app-comp1></app-comp1>
        <app-comp2></app-comp2>
    </div>
</div> -->

<!-- <app-header1></app-header1> -->

<div class="container">
    <h2>Observables in Angular</h2>
    <!-- <div class="data-list" *ngFor="let x of data">
        {{ x }}
    </div>
    
    <button (click)="GetAsyncData()">Get Data</button> -->

    <div id="container">

    </div>
    <button #createbtn>Create New Item</button>
</div>