<!-- <div class="container">
    <input type="text" #inputEl (focus)="0">
    <button (click)="onBtnClicked(inputEl)">Submit</button>
    <app-parent [message]="inputVal" *ngIf="!toDestroy">
        <p #temp>User has entered the following text: {{inputVal}}</p>
    </app-parent>
    <br><br>
    <button (click)="DestroyComponent()">Show / Hide</button>
    
</div> -->

<!--<input type="text"  appSample> --><!-- @HostBinding -->
<!--<input type="text"  [value]="textValue" (focus)="logValue()">--> <!-- property and event binding-->
<!--<input type="text"  [value]="textValue" appSample>--> <!-- @HostBinding-->
<!--<button>Click Me</button>-->
<div class="notice-container">
    <div class="notice-header">
        <button (click)="displayTermsOfServices()">+</button>
    </div>
    <div class="notice-info">
        <p>Read terms of services and privacy policy</p>
    </div>
    <!-- <ng-template [ngIf]="display" [ngIfElse]="myTempVar"> -->
        <div class="notice-body" *ngIf="display; else myTempVar">
            <h1>Terms of services & privacy policy</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Ipsum quam voluptate aspernatur impedit magni explicabo quis dolores dignissimos? 
                Ipsa ratione explicabo sit dicta nobis? Ducimus in repellat itaque ratione molestias?
            </p>
            <h2>Terms of services</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime excepturi dolor eveniet praesentium libero, 
                illo in, consequatur voluptatum quidem veritatis aspernatur laborum aut ut vel natus iusto velit voluptate minima?
            </p>
            <h2>Privacy Policy</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam numquam qui non nostrum. 
                Distinctio quisquam voluptatum cupiditate quae asperiores impedit totam placeat quia quam repudiandae. 
                Distinctio illo illum error quasi.
            </p>
        </div>
        <ng-template #myTempVar>
            <div class="notice-body" >
                <p>
                    Ryan Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit tempora cupiditate eligendi dolorum porro ut, nobis illum eius sit maxime expedita blanditiis, 
                    officiis corrupti debitis ab ipsam vel molestiae ratione?
                </p>
            </div>
        </ng-template>
    <!-- </ng-template> -->
</div>
